// Color theme
$dark_blue: #6369E8;
$medium_blue: #CEDDFF;
$light_blue: #E5ECFE;
$white: #FFFFFF;

// Font sizes
$title: 20px;
$sub_title: 18px;
$heading: 16px;
$normal_text: 14px;
$small_text: 12px;
$x_small_text: 10px;

// Screen sizes
$phones: 531px;
$tablets: 769px;
$desktops: 1025px;

// Font family
$proxima: 'proxima';