@import './../../assets/style/variables.scss';

.header-container {
    background-color: $medium_blue;
    margin-top: -15px;
    padding: 20px 10px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    .title-container {
        background-color: $dark_blue;
        padding: 0 30px;

        color: $white;
        font-family: $proxima;
        font-size: $sub_title;
    }
}